@mixin mobile {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin icon-image($url) {
    background-image: url("@/assets/icon/" + $url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// 카드 스타일
@mixin card-style {
    border: 1px solid $color-border;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: $color-bg;
    padding: 16px;
}
